@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-light-primary: #f8f8f6;
  --color-secondary: #00b893;
  --color-dark-primary: #333333;
}

@layer {
  html {
    font-family: "Inter", "sans-serif";
  }
  body {
    background: var(--color-light-primary);
  }
}
